<div class="card">
  <ul class="nav nav-tabs justify-content-center" role="tablist">
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="{{question.link}}" role="tab">
              <i class="now-ui-icons objects_umbrella-13"></i> Open
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="{{question.owner.link}}" role="tab">
            <img src="{{question.owner.profileImage}}" alt="{{question.owner.displayName}}" style="width: 20px;" class="rounded-circle"> {{question.owner.displayName}}
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#" role="tab">
              <i class="now-ui-icons shopping_shop"></i> {{question.creationDate * 1000 | date}}
          </a>
      </li>
  </ul>
  <div class="card-body" [style.background-color]="question.isAnswered? '#effff0': 'white'">
      <!-- Tab panes -->
      <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel">
              <p><b>{{question.title}}</b></p>
              <p [innerHTML]="question.body"></p>
          </div>
      </div>
  </div>
</div>
